*.a
*.o
*.out
*.mod
*.sublime-project
*.sublime-workspace
.build-log
sysroot/usr

# C library
libc.a

# kernel
zykernel

# Emulation images
grub.img
zylix.iso
zylix-HDD.img
zylix-HDD.img.lock

# Logs
bochs-log.txt

# Ctags
tags
.tags1

# Toolchain
.toolchain-built
/tools/toolchain/build-gcc
/tools/toolchain/build-binutils
/tools/toolchain/download
/tools/toolchain/local

# Userspace
.userspace-built
