# HydrOS i386 arch Makefile configuration.

KERNEL_ARCH_CFLAGS   =
KERNEL_ARCH_LDFLAGS  =
KERNEL_ARCH_LIBS     =

KERNEL_ARCH_OBJS     = $(ARCH_DIR)/boot.o \
                       $(ARCH_DIR)/CPU.o \
                       $(ARCH_DIR)/CPUInfo.o \
                       $(ARCH_DIR)/SetupCPU.o \
                       $(ARCH_DIR)/PIC.o \
                       $(ARCH_DIR)/GDT.o \
                       $(ARCH_DIR)/FlushGDT.o \
                       $(ARCH_DIR)/FlushIDT.o \
                       $(ARCH_DIR)/FlushTSS.o \
                       $(ARCH_DIR)/IDT.o \
                       $(ARCH_DIR)/LoadIDT.o \
                       $(ARCH_DIR)/IRQ.o \
                       $(ARCH_DIR)/ISR.o \
                       $(ARCH_DIR)/ISRasm.o \
                       $(ARCH_DIR)/FPU.o \
                       $(ARCH_DIR)/IO.o