# Zylix i386 arch Makefile configuration.

KERNEL_ARCH_CFLAGS   =
KERNEL_ARCH_LDFLAGS  =
KERNEL_ARCH_LIBS     =

KERNEL_ARCH_OBJS     = $(ARCH_DIR)/boot.o \
                       $(ARCH_DIR)/cpu.o \
                       $(ARCH_DIR)/cpu_info.o \
                       $(ARCH_DIR)/pic.o \
                       $(ARCH_DIR)/gdt_loadgdt.o \
                       $(ARCH_DIR)/gdt_loadtss.o \
                       $(ARCH_DIR)/gdt.o \
                       $(ARCH_DIR)/idt.o \
                       $(ARCH_DIR)/idt_asm.o \
                       $(ARCH_DIR)/isr.o \
                       $(ARCH_DIR)/isr_asm.o \
                       $(ARCH_DIR)/io.o
