# Zylix x86_64 arch Makefile configuration.

KERNEL_ARCH_GCC_NAME = x86_64-pc-zylix

KERNEL_ARCH_CFLAGS   =
KERNEL_ARCH_LDFLAGS  =
KERNEL_ARCH_LIBS     =

KERNEL_ARCH_OBJS     = $(ARCH_DIR)/boot.o \
                       $(ARCH_DIR)/control_registers.o \
                       $(ARCH_DIR)/cpu_info_x86_64.o \
                       $(ARCH_DIR)/cpu.o \
                       $(ARCH_DIR)/gdt_asm.o \
                       $(ARCH_DIR)/gdt.o \
                       $(ARCH_DIR)/idt_asm.o \
                       $(ARCH_DIR)/idt.o \
                       $(ARCH_DIR)/io.o \
                       $(ARCH_DIR)/irq_asm.o \
                       $(ARCH_DIR)/isr_asm.o \
                       $(ARCH_DIR)/isr.o \
                       $(ARCH_DIR)/paging.o \
                       $(ARCH_DIR)/pic.o \
                       $(ARCH_DIR)/pit.o \
                       $(ARCH_DIR)/stop.o \
                       $(ARCH_DIR)/syscall.o \
                       $(ARCH_DIR)/userspace.o
